  <div class="sidebar">
    <a  routerLinkActive="active" routerLink="dashboard"><i class="fas fa-home icon"></i>Dashboard</a>
    <a routerLinkActive="active" routerLink="loans"><i class="fas fa-money-bill-alt icon"></i>Loans</a>
    <a routerLinkActive="active" routerLink="customers"><i class="fas fa-users icon"></i>Customers</a>
    <a routerLinkActive="active" routerLink="payments"><i class="fas fa-dollar-sign icon"></i>Payments</a>
    <a routerLinkActive="active" routerLink="invoices"><i class="fas fa-file-invoice icon"></i>Invoices</a>
    <a routerLinkActive="active" routerLink="loan-types"><i class="fas fa-file-contract icon"></i>Loan Plans</a>
    <a routerLinkActive="active" routerLink="reports"><i class="fas fa-chart-bar icon"></i>Reports</a>
    <a routerLinkActive="active" routerLink="settings"><i class="fas fa-cog icon"></i>Settings</a>
  </div>
