<div class="container mt-4">
    <!-- Loan Plans Heading -->
    <h1>Loan Plans</h1>

    <!-- Loan Plans Section -->
    <div class="row mt-4">
        <!-- Education Loan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Education Loan</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ipsum id.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Commercial Loan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Commercial Loan</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ipsum id.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <!-- Personal Loan -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Loan</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ipsum id.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
