/* Example styling, adjust as needed */
.header-container {
    margin-left: 20px; /* Add margin to create space below the header */
}

.sidebar-container {
    margin-right: 20px; /* Add margin to create space below the header */
}
.router-container{
    margin-left: 270px;
}